<launch>
<!-- Start the controllers for arm_control test, and the robot_stretch node -->
<include file="$(find elir_actuation)/launch/arm_control/trajectory_b_arm.launch"> </include>
<include file="$(find elir_actuation)/launch/arm_control/trajectory_f_arm.launch"> </include>
<include file="$(find elir_line_control)/launch/arm_control.launch"> </include>
</launch>