<launch>
<!-- Starts the controller Manager -->
<include file="$(find elir_actuation)/launch/controller_manager.launch"></include>
<!-- Spawn arms trajectory controllers -->
<include file="$(find elir_actuation)/launch/elir_controllers.launch"> </include>
<!-- Start robot state -->
<include file="$(find elir_state)/launch/robot_state.launch"> </include>
</launch>