<launch>
<!-- Starts the controller Manager -->
<include file="$(find elir_actuation)/launch/controller_manager.launch"></include>
<!-- Start robot state -->
<include file="$(find elir_state)/launch/robot_state.launch"> </include>
<!-- Spawn f_arm trajectory controller -->
<include file="$(find elir_actuation)/launch/trajectory_f_arm.launch"> </include>
<!-- Spawn b_arm trajectory controller -->
<include file="$(find elir_actuation)/launch/trajectory_b_arm.launch"> </include>
</launch>