<launch>
<!-- Start the trajectory controller -->
<include file="$(find elir_actuation)/launch/traction_control/traction_ap.launch"> </include>
<include file="$(find elir_actuation)/launch/traction_control/traction_b.launch"> </include>
<include file="$(find elir_actuation)/launch/traction_control/traction_f.launch"> </include>
<include file="$(find elir_line_control)/launch/line_control.launch"> </include>
</launch>